.home-container{
    border: 1px solid ;
    text-align: center;
    margin: 0px auto;
}

.profile{
    border: 1px solid; 
    background-image: url(/img/pfp.jpg);
    background-size: cover;
    height: 200px;
    width: 150px;
    margin-right: 10px;
}

.second-container{
    display: flex;
}