.button{
    width: 50px;
}

/* number */
.number{
    background-color: aqua;
}
.number:active{
    background-color: lime;
}

/* operator */
.operator{
    background-color: yellow;
}
.operator:active{
    background-color: orange;
}

.clr{
    background-color: #cf4646;
}
.clr:active{
    background-color: lightblue;
}

input#display{
    width: 97%;
    text-align: right;
    background-color: black;
    color: orange;
}

