#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-container{
  width: 1020px;
  height: 640px;
  margin: auto;
  /* border: 1px solid red; */
  padding: 0.5rem;
}